<!--
<nav>
  <button (click)="goto('/demo1')">Demo 1</button>
  <button (click)="goto('/demo2')">Demo 2</button>
  <button (click)="goto('/demo3')">Demo 3</button>
  <button (click)="goto('/demo4')">Demo 4</button>
</nav>
-->
<!--
<nav>
  <button [routerLink]="'/demo1'">Demo 1</button>
  <button [routerLink]="'/demo2'">Demo 2</button>
  <button [routerLink]="'/demo3'">Demo 3</button>
  <button [routerLink]="'/demo4'">Demo 4</button>
</nav>
-->
<nav>
  <a routerLink="/demo1" routerLinkActive="active">Demo 1</a>
  <a routerLink="/demo2" routerLinkActive="active">Demo 2</a>
  <a routerLink="/demo3" routerLinkActive="active">Demo 3</a>
  <a routerLink="/demo4" routerLinkActive="active">Demo 4</a>
  <a routerLink="/demo5/0" routerLinkActive="active">Demo 5 (0)</a>
  <a routerLink="/demo5/2" routerLinkActive="active">Demo 5 (2)</a>
  <a routerLink="/demo5/5" routerLinkActive="active">Demo 5 (5)</a>
  <a routerLink="/demo6" routerLinkActive="active">Demo 6</a>
</nav>
<router-outlet></router-outlet>

