<!-- (ngSubmit)="onFormSubmit()" -->
<form [formGroup]="myform" (submit)="onFormSubmit()">
  <div>
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" name="username" formControlName="username" id="username" class="input" required />
    <p *ngIf="myform.get('username')?.errors?.['required']">Le nom d'utilisateur est obligatoire.</p>
  </div>
  <div>
    <label for="age">Age :</label>
    <input type="number" name="age" formControlName="age" id="age" class="input" required />
    <p *ngIf="myform.get('age')?.errors?.['required']">L'age est obligatoire.</p>
    <p *ngIf="myform.get('age')?.errors?.['min']">Vous devez avoir plus de 18 ans pour accéder à cette ressource.</p>
  </div>
  <div>
    <label for="ddn">Date de naissance :</label>
    <input type="date" name="ddn" formControlName="ddn" id="ddn" class="input" required />
  </div>
  <div>
    <label for="email">Email :</label>
    <input type="email" name="email" formControlName="email" id="email" class="input" required />
    <p *ngIf="myform.get('email')?.errors?.['required']">L'email est obligatoire.</p>
    <p *ngIf="myform.get('email')?.errors?.['email']">L'email doit avoir un format valide.</p>
  </div>
  <div>
    <label for="password">Mot de passe :</label>
    <input type="password" name="password" formControlName="password" id="password" class="input" required />
  </div>

  <fieldset>
    <legend>Checkboxes pizza</legend>
    <input type="checkbox" name="topping1" formControlName="topping1" />Tomates<br>
    <input type="checkbox" name="topping2" formControlName="topping2" />Ananas<br>
    <input type="checkbox" name="topping3" formControlName="topping3" />Nutella<br>
  </fieldset>

  <fieldset>
    <legend>Radiobutton base pizza</legend>
    <input type="radio" name="base" formControlName="base" value="creme" />Crème<br>
    <input type="radio" name="base" formControlName="base" value="sauce tomate" />Sauce tomate<br>
  </fieldset>

  <div>
    <label for="sport">Sport :</label>
    <select name="sport" formControlName="sport" id="sport" class="input">
      <option value="judo">Judo</option>
      <option value="voilier">Voilier</option>
      <option value="badminton">Badminton</option>
      <option value="natation">Natation</option>
      <option value="aviron">Aviron</option>
    </select>
  </div>

  <div>
    <label for="grade">Note :</label>
    <input type="range" name="grade" formControlName="grade" id="grade" min="0" max="20" step=".5" />
  </div>

  <div>
    <label for="commentary">Commentaires :</label>
    <textarea name="commentary" formControlName="commentary" id=commentary cols="64" rows="4"></textarea>
  </div>

  <input type="submit" value="Valider" />
  <input type="reset" value="Réinitialiser le formulaire"/>
</form>
